#archive-btn {
  border: none;
  background-color: lightgrey;
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin-right: 8px;
  border-radius: 15%;
  margin-bottom: 3px;
}

#archive-btn:hover {
  color: black;
  font-weight: 600;
}

#align-btn {
  display: inline-flex;
  align-items: center;
  padding: 0 0 0 10px;
  width: 95%;
}

.archive-icon {
  padding: 0 25px 0 0;
}

.background {
  height: 500px;
  overflow-y: scroll;
  padding: 10px 10px 45px 10px;
  background: #f2f3f4;
}

.bold {
  font-weight: 550;
}

.call {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;
  min-height: 50px !important;
  cursor: pointer;
  width: 98%;
  background-color: #faf9f6;
}

.counter {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  padding: 4px;
  background: red;
  border: 1px solid red;
  text-align: center;
  color: white;
  font-size: smaller;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.dotted-line {
  border: none;
  border-bottom: 1px dotted grey;
  width: 30%;
}

#date-margin {
  margin: 0;
  display: flex;
  justify-content: center;
}

.expanded {
  height: fit-content;
}

#expanded {
  display: flex;
  justify-content: space-between;
}

.grey {
  color: grey;
  font-size: 12px;
}

.inline {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 12px 0 0 0;
}

.icon-size {
  font-size: 20px;
}

.width-30 {
  align-items: center;
  display: flex;
  width: fit-content;
  height: 16px;
}

.padding {
  padding: 0 0 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#r-margin-23 {
  margin: 0 23px 0 0;
}
