#nav-counter {
    border-radius: 40%;
    width: 15px;
    height: 9px;
    padding: 4px;
    background: red;
    border: 1px solid red;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
}